<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark pink" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">LOGO</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="container navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
      </li>

    </ul>
    <!-- Links -->

    <div *ngIf="logged">
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link">
            <div class="btn-group" mdbDropdown>
              <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
              <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                <a class="dropdown-item" href="#">Profile</a>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item" (click)='logout()' href="#">Logout</a>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->