<footer class="page-footer font-small teal accent-3 pt-4">

  <div class="container text-center text-md-left">
    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2021-{{currentYear}} Copyright:
          <a href="https://thepinkdoorjam.com/">
            <strong> ThePinkDoorJam.com</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="https://www.instagram.com/shoppinkdoor/" target="_blank" mdbBtn floating="true" size="sm"
                class="rgba-white-slight mx-1" mdbWavesEffect>
                <mdb-icon fab icon="instagram"></mdb-icon>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>