<!--Section: Products v.2-->
<div class="container">
  <section class="text-center pb-3 my-5">
    <!--Section heading-->

    <!-- Jumbotron -->
    <mdb-card class="bg">
      <div class="text-white text-center py-5 px-4">
        <div class="py-5">

          <!-- Content -->
          <h2 class="card-title h2 my-4 py-2" style="text-shadow:2px 2px #000000">The Pink Door</h2>
          <p class="mb-4 pb-2 px-md-5 mx-md-5" style="text-shadow:2px 2px #000000">Comforting & Functional Gifts,
            Handmade with Love by <a style="color: white; " href="https://www.instagram.com/rebecca__elena/"
              target="_blank">@rebecca_elena</a><br>🧵 We do custom orders!🪡</p>

        </div>
      </div>
    </mdb-card><br><br>
    <!-- Jumbotron -->
    <ng-container *ngIf="pics">
      <div *ngFor="let group of imageGroups" class="row">
        <!--Grid column-->
        <div *ngFor="let image of group" class="col-lg-4 col-md-12 mb-3">
          <!--Card-->
          <mdb-card cascade="true" wider="true" class="card-ecommerce">
            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-card-img src="https://be.thepinkdoorjam.com/images/{{image.filename}}"
                alt="https://be.thepinkdoorjam.com/images/{{image.filename}}"></mdb-card-img>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="text-center no-padding">
              <!--Category & Title
            <a href="" class="text-muted">
              <h5>Test</h5>
            </a>-->
              <mdb-card-title>
                <h4 class="card-title">
                  <strong>
                    <p style="color: #1de9b6">{{image.title}}</p>
                  </strong>
                </h4>
              </mdb-card-title>
              <!--Description-->
              <mdb-card-text>{{image.description}}</mdb-card-text>
              <!--Card footer-->
              <!--<mdb-card-footer>-->
              <!--<span class="float-left font-weight-bold">
                <strong>1439$</strong>
              </span>-->
              <span class="float-right">
                <!-- <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                  <mdb-icon far icon="eye" class="grey-text ml-3"></mdb-icon>
                </a>-->
                <ng-container *ngIf="adminLvl!==0">
                  <a class="grey-text h6">ID #{{image.id}}</a>
                  <a class="" [routerLink]="['edit', image.id]"  data-toggle="tooltip" data-placement="top" title="Edit">
                    <mdb-icon fas icon="edit" class="grey-text ml-3"></mdb-icon>
                  </a>
                </ng-container>
                <a class="" data-toggle="tooltip" data-placement="top" title="Like">
                  <mdb-icon fas icon="heart" class="grey-text ml-3"></mdb-icon>
                </a>
              </span>
              <!--</mdb-card-footer>-->
            </mdb-card-body>
            <!--Card content-->
          </mdb-card>
          <!--Card-->
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->

    </ng-container>
    <!--[gestureHandling]="none" giving a error?!-->
    <agm-map [latitude]="40.0026767" [longitude]="-75.6783382" [fitBounds]="true" style="height: 600px">
      <agm-marker [agmFitBounds]="true" [latitude]="30.3079827" [longitude]="-97.8934851">Texas</agm-marker>
      <agm-marker [agmFitBounds]="true" [latitude]="30.4672688" [longitude]="-84.3268957">Florida</agm-marker>
      <agm-marker [agmFitBounds]="true" [latitude]="40.2161138" [longitude]="-74.8092249">New Jersey</agm-marker>
      <agm-marker [agmFitBounds]="true" [latitude]="40.2822047" [longitude]="-76.9154449">Pennsylvania</agm-marker>
      <agm-marker [agmFitBounds]="true" [latitude]="42.3144556" [longitude]="-71.0403236">Massachusetts</agm-marker>
      <agm-marker [agmFitBounds]="true" [latitude]="39.1564772" [longitude]="-75.5484393">Delaware</agm-marker>
      <agm-marker [agmFitBounds]="true" [latitude]="33.7678358" [longitude]="-84.4906437">Georgia</agm-marker>
      <agm-marker [agmFitBounds]="true" [latitude]="38.972501" [longitude]="-76.522204">Maryland</agm-marker>
      <agm-marker [agmFitBounds]="true" [latitude]="-23.6815315" [longitude]="-46.8754817">São Paulo</agm-marker>
    </agm-map>
  </section>
</div>
<!--Section: Products v.2-->